# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment folders (commonly 'venv' or 'env')
venv/
env/

# Ignore the .env file
.env

# Ignore certificate files with a .pem extension
*.pem

# Ignore IDE or editor-specific files and folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore log and temporary files
*.log
*.swp

# Ignore database files
*.sqlite3

# Ignore configuration or environment-specific files
config.json
secrets.json
